# Dependencies
node_modules/
vendor/

# Environment & secrets
.env
.env.*
*.key
*.pem
*.json

# Build outputs
dist/
build/
.out/
.vercel/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
